/* 1. Use border-box globally */
*,
*:after,
*:before {
    box-sizing: border-box; /* 1 */
}



/* typography */
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    padding-top: 1em;
}
h1, h2, h3, h4 { margin-top: 0; }
h1 {
    font-size: 2em;
    border-bottom: 1px solid #333;
    padding-bottom: 0.3em;
}
h2 { font-size: 1.7em; }
a { color: #0074d9; }
a:hover { color: #4dacff; }
a:focus { color: #4dacff; }
ul { margin-bottom: 2em; }
ul li { margin: 0 0 0.3em 0; }
ul ul { margin-bottom: 0.6em; }
ul ul li { margin-top: 0.3em; }
img { display: block; max-width: 100%; }



/* structural */
section {
    margin-bottom: 2em;
}
section:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #333;
    width: 50%;
    margin: 2em auto 0;
}



/* header */
.back-to {
    margin-bottom: 1em;
}



/* holy grail */
.c-holy-grail {
    width: 100%;
}
.c-holy-grail header  { background-color: #666666; padding: 1em; color: white; }
.c-holy-grail footer  { background-color: #666666; padding: 1em; color: white; }
.c-holy-grail nav     { background-color: #84b8e0; padding: 1em; }
.c-holy-grail article { background-color: #d6d6d6; padding: 1em; }
.c-holy-grail aside   { background-color: #f36a2b; padding: 1em; }



/* product */
.c-product {
    background-color: #84b8e0;
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
}
.c-product img {
    display: block;
    margin: 0 auto;
}



/* picture holder */
.c-picture-holder {
    margin-bottom: 0.5em;
    background: #84b8e0;
    padding: 0.5em;
}
.c-picture-holder img {
    display: block;
}