/* structural */
.u-constrict {
    max-width: 820px;
    margin: 0 auto;
    padding: 0.5em;
}



/*
    colors
*/
.u-error   { color: #EE0000; }
.u-success { color: #37BC61; }
.u-warning { color: #E59400; }


/* Margins */
.u-mb0  { margin-bottom: 0 !important; }
.u-mb   { margin-bottom: 1em !important; }
.u-mb\+ { margin-bottom: 2em !important; }
.u-mb-  { margin-bottom: 0.5em !important; }
.u-mt0  { margin-top: 0 !important; }
.u-mt   { margin-top: 1em !important; }
.u-mt\+ { margin-top: 2em !important; }
.u-mt-  { margin-top: 0.5em !important; }
.u-mv   { margin-top: 0.5em !important;
          margin-bottom: 0.5em !important; }
.u-mv0  { margin-top: 0 !important;
          margin-bottom: 0 !important; }



/*
    Clearfix: contain floats

    For modern browsers
    1.  The space content is one way to avoid an Opera bug when the
        `contenteditable` attribute is included anywhere else in the document.
        Otherwise it causes space to appear at the top and bottom of elements
        that receive the `clearfix` class.
    2.  The use of `table` rather than `block` is only necessary if using
        `:before` to contain the top-margins of child elements.
*/
.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.u-clearfix:after {
    clear: both;
}

.u-inline-block { display: inline-block !important; }