/* grid */
@media (min-width: 800px) {
    .o-grid {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
    .o-grid__item {
        display: table-cell;
    }
    .o-grid__wrap {
        display: table;
        border-spacing: 0.5em 0;
        width: 100%;
        table-layout: fixed;
    }
}



/* variations */
.o-grid--flush {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}