.grid {
    display: grid;
    grid-template-columns: 30% 1fr 20%;
    grid-template-rows: repeat(auto, auto);
    column-gap: 1em;
    row-gap: 1em;
}
/* variations */
.grid--gutters {
    grid-template-columns: 30% 0.5em 1fr 0.5em 20%;
    grid-row: 2 / 3;
}
.grid--gutters .grid__item:nth-child(1) {
    grid-column: 1 / 2;
}
.grid--gutters .grid__item:nth-child(2) {
    grid-column: 3 / 4;
}
.grid--gutters .grid__item:nth-child(3) {
    grid-column: 5 / 6;
}

/*
    component
*/
.grid--product {
    grid-template-columns: 3.333% 0.5em 1fr 0.5em 33.333%;
}
.grid--product .grid__item:nth-child(3n+1) {
    grid-column: 1 / 2;
    background: red;
}
.grid--product .grid__item:nth-child(1n+1) {
    grid-column: 3 / 4;
    background: blue;
}
.grid--product .grid__item:nth-child(2n+1) {
    grid-column: 5 / 6;
    background: orange;
}