.grid {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto;
}
/* variations */
.grid--gutters {
    grid-template-columns: 29% 1% 50% 1% 19%;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid--gutters .grid__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid--gutters .grid__item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid--gutters .grid__item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 6;
}
/*.grid--gutter .grid__item {
    padding: 20px;
}*/