/*
    grid
*/
.o-grid {
    display: table;
    width: 100%;
}
.o-grid__item     {
    display: table-cell;
}

/*
    variations
*/
.o-grid--gutters {
    margin-left: -0.5em;
    margin-right: -0.5em;
    display: block;
    width: auto;
}
.o-grid--gutters .o-grid__wrap {
    display: table;
    border-spacing: 0.5em 0;
    width: 100%;
    table-layout: fixed;
}

/*.product {
    margin: 0;
}*/