/*
    grid
*/
.grid {
    display: table;
    width: 100%;
}
.grid__item     {
    display: table-cell;
}

/*
    variations
*/
.grid--gutters {
    margin-left: -0.5em;
    margin-right: -0.5em;
    display: block;
    width: auto;
}
.grid--gutters .grid__wrap {
    display: table;
    border-spacing: 0.5em 0;
    width: 100%;
    table-layout: fixed;
}

/*.product {
    margin: 0;
}*/