.grid {
    display: flex;
}
/* variations */
/*
    1. Allow grid to cope with multiple rows
    2. Equalises the height by making the children expand to the height of their parent.
    3. make sure itesm fill width of parent
*/
.grid--gutters {
    margin-left: -0.5em;
    flex-flow: wrap; /* [1] */
}
.grid--gutters .grid__item {
    padding-left: 0.5em;
    display: flex; /* [2] */
}
.grid--gutters .grid__item > * {
    flex-grow: 1; /* [3] */
}

/*
    changing order
*/
/*.aside-1 { order: 1; }
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }*/