/*
    grid

    1. Cause columns to stack side-by-side.
    2. Align columns to the tops of each other.
    3. Full-width unless told to behave otherwise.
    4. Required to combine fluid widths and fixed gutters. Not required if you have it turned on globally.
    5. Space columns apart.
*/
.o-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 0 0 -0.5em; /* [5] */
}
.o-grid__item {
    display: inline-block; /* [1] */
    vertical-align: top; /* [2] */
    width: 100%; /* [3] */
    box-sizing: border-box; /* [4] */
    padding-left: 0.5em; /* [5] */
}