/*
    grid

    inline-block grid as covered in the inlin-block
    section.
*/
.o-grid {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -0.5em;
}
.o-grid__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.5em;
}
.o-grid--flex {
    display: flex;
    flex-flow: wrap;
}
.o-grid--flex .o-grid__item { display: flex; }
.o-grid--flex .o-grid__item > * { flex-grow: 1; }




/* Site Nav */
.c-example-nav {
    margin-bottom: 2em;
}
.c-example-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-example-nav li {
    background: #efefef;
    padding: 1em;
    margin: 0 0 0.5em 0;
}
.c-example-nav li:last-child {
    margin-right: 0;
}
@media (min-width: 800px) {
    .c-example-nav li {
        display: inline-block;
        margin: 0 0.5em 0 0;
    }
    .c-example-nav--justified ul {
        display: flex;
        justify-content: space-between;
    }
}




/*
    Centrally align content
*/
.v-text {
    position:  relative;
    height: 200px;
    max-width: 300px;
    background: #7EC0EE;
    margin-bottom: 0.5em;
}
.v-text blockquote {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background: white;
    display: inline-block;
}
.v-text--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*
    Multidimensional layout

    1. Row layout
    2. Col layout
*/
/* structual */
.multi-dime {
    margin-left: -0.5em;
}
.multi-dime__col {
    width: 50%;
    display: inline-block;
    padding-left: 0.5em;
    vertical-align: top;
}
.multi-dime--flex {
    display: flex;
}
.multi-dime--flex .multi-dime__col {
    display: flex;
    flex-direction: column;
}
.multi-dime--flex header { flex-grow: 0; }
.multi-dime--flex article { flex-grow: 1; }
.multi-dime header,
.multi-dime nav,
.multi-dime aside,
.multi-dime article {
    background: white;
    border: 10px solid black;
    margin-bottom: 10px;
    padding: 20px;
}
/* cosmetic styling */
.multi-dime nav { padding: 10px; }
.multi-dime header { background: orange; font-size: 1.5em; }
.multi-dime nav { background: white; }
.multi-dime nav ul { list-style: none; margin: 0;
                     padding: 0; }
.multi-dime nav li:last-child { margin-bottom: 0; }
.multi-dime nav a { display: block; color: white;
                    background: grey; padding: 0.5em;
                    text-decoration: none; }
.multi-dime nav a:hover,
.multi-dime nav a:focus { background: #ccc; color: black; }
.multi-dime aside { background: purple; }
.multi-dime article { background: green; }