/*
    grid
*/
.o-grid {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -0.5em;
}
.o-grid__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.5em;
}
/* variations */
.o-grid--flush {
    margin-left: 0;
}
.o-grid--flush .o-grid__item {
    padding-left: 0;
}
.o-grid--flex {
    display: flex;
    flex-flow: wrap;
}
.o-grid--flex .o-grid__item {
    display: flex;
}
.o-grid--flex .o-grid__item > * {
    flex-grow: 1;
}



/* Site Nav */
.c-example-nav {
    margin-bottom: 2em;
}
.c-example-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-example-nav li {
    background: #efefef;
    padding: 1em;
    margin: 0 0 0.5em 0;
}
.c-example-nav li:last-child {
    margin-right: 0;
}
@media (min-width: 800px) {
    .c-example-nav li {
        display: inline-block;
        margin: 0 0.5em 0 0;
    }
    .c-example-nav--justified ul {
        display: flex;
        justify-content: space-between;
    }
}


/*
    Centrally align content
*/
.v-text {
    position:  relative;
    height: 200px;
    max-width: 300px;
    background: #7EC0EE;
    margin-bottom: 0.5em;
}
.v-text blockquote {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background: white;
    display: inline-block;
}

.v-text--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}