/*
    grid
*/
.o-grid {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -0.5em;
}
.o-grid__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.5em;
}
.o-grid__item > * {
    flex-grow: 1;
}
/* variations */
.o-grid--flush {
    margin-left: 0;
}
.o-grid--flush .o-grid__item {
    padding-left: 0;
}
.o-grid--flex {
    display: flex;
    flex-flow: wrap;
}
.o-grid--flex .o-grid__item {
    display: flex;
}



/* Site Nav */
.c-example-nav {
    margin-bottom: 2em;
}
.c-example-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-example-nav li {
    background: #efefef;
    padding: 1em;
    margin: 0 0 0.5em 0;
}
.c-example-nav li:last-child {
    margin-right: 0;
}
@media (min-width: 800px) {
    .c-example-nav li {
        display: inline-block;
        margin: 0 0.5em 0 0;
    }
    .c-example-nav--justified ul {
        display: flex;
        justify-content: space-between;
    }
}


/*
    Centrally align content
*/
.happy-mushrooms {
    text-align: center;
}
.happy-mushrooms .c-picture-holder {
    display: inline-block;
    margin-bottom: 1em;
}
@media (min-width: 520px) {
    .happy-mushrooms .c-picture-holder {
        margin-bottom: 0;
    }
}
.mushroom {
    max-width: 60%;
    margin: 0 auto;
}
.mushroom--flip {
    transform: scaleX(-1);
}
.happy-mushrooms p {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
    padding: 1em;
    margin: 0 0 1em 0;
}
@media (min-width: 520px) {
    .happy-mushrooms p {
        margin-bottom: 0;
    }
}
.happy-mushrooms--happier {
    align-items: center;
    justify-content: center;
}
@media (max-width: 519px) {
    .happy-mushrooms--happier .o-grid__item > * {
        flex-grow: 0;
    }
}

/*.happy-mushroom {
    margin: 0 auto;
    display: inline-block;
}*/
/*.happy-mushroom--center {
    display: flex;
    align-items: center;
    justify-content: center;
}*/