/*
    grid
*/
.grid {
    list-style: none;
    margin:  0;
    padding: 0;
}
.grid__item {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
/* variations */
.grid--gutters {
    margin-left: -0.5em;
}
.grid--gutters .grid__item {
    padding-left: 0.5em;
}

/*
    Having to deal with clearing :(
*/
.product-grid .grid__item:nth-child(3n+1) {
    clear: left;
}

@media (min-width: 520px) {
    .product-grid--rwd .grid__item:nth-child(3n+1) {
        clear: none;
    }
    .product-grid--rwd .grid__item:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 800px) {
    .product-grid--rwd .grid__item:nth-child(2n+1) {
        clear: none;
    }
    .product-grid--rwd .grid__item:nth-child(3n+1) {
        clear: left;
    }
}