/*
    grid

    1. Allow grid to cope with multiple rows
    2. Equalises the height by making the children expand to the height of their parent.
    3. Make sure items fill width of parent.
    4. Make sure item contents fill width of item.
    5. For gutters.
*/
.o-grid {
    display: flex;
    margin-left: -0.5em; /* [5] */
    flex-flow: wrap; /* [1] */
}
.o-grid__item {
    padding-left: 0.5em; /* [5] */
    display: flex; /* [2] */
    flex-grow: 1; /* [3] */
}
.o-grid__item > * {
    flex-grow: 1; /* [4] */
}



/* variations */
.o-grid--flush {
    margin-left: 0;
}
.o-grid--flush > .o-grid__item {
    padding-left: 0;
}


/*
    holy grail - variations
*/
@media (min-width: 800px) {
    .holy-grail--flex-order .o-grid__item:nth-child(1) {
        order: 3;
    }
    .holy-grail--flex-order .o-grid__item:nth-child(2) {
        order: 2;
    }
    .holy-grail--flex-order .o-grid__item:nth-child(3) {
        order: 1;
    }
}


/*
    changing order
*/
.aside-1 { order: 1; }
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }