/*
    grid

    1. Allow grid to cope with multiple rows
    2. Equalises the height by making the children expand to the height of their parent.
    3. Make sure items fill width of parent.
    4. Make sure item contents fill width of item.
    5. For gutters.
*/
.o-grid {
    display: flex;
    margin-left: -0.5em; /* [5] */
    flex-flow: wrap; /* [1] */
}
.o-grid__item {
    padding-left: 0.5em; /* [5] */
    display: flex; /* [2] */
    flex-grow: 1; /* [3] */
}
.o-grid__item > * {
    flex-grow: 1; /* [4] */
}




/*
    holy grail - variations
*/
@media (min-width: 800px) {
    .holy-grail--flex-order .o-grid__item:nth-child(1) {
        order: 3;
    }
    .holy-grail--flex-order .o-grid__item:nth-child(2) {
        order: 2;
    }
    .holy-grail--flex-order .o-grid__item:nth-child(3) {
        order: 1;
    }
}




/* justified Nav */
.justified-nav {
    margin-bottom: 2em;
}
.justified-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.justified-nav li {
    background: #efefef;
    padding: 1em;
    margin: 0 0 0.5em 0;
}
.justified-nav a {
    display: block;
}
@media (min-width: 800px) {
    .justified-nav ul {
        display: flex;
        justify-content: space-between;
    }
    .justified-nav--direction ul {
        height: 580px;
        flex-direction: column;
        align-items: center;
    }
    .justified-nav--reverse {
        flex-wrap: wrap-reverse;
    }
}




/*
    Vertically aligned content
*/
.v-text {
    position:  relative;
    height: 200px;
    max-width: 300px;
    background: #7EC0EE;
    margin-bottom: 0.5em;
}
.v-text blockquote {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background: white;
    display: inline-block;
}
.v-text--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*
    Multidimensional layout

    1. Row layout
    2. Col layout
*/
/* structural */
.multi-dime {
    margin-left: -0.5em;
    display: flex; /* [1] */
}
.multi-dime__col {
    display: flex; /* [2] */
    flex-direction: column; /* [2] */
    width: 50%;
    padding-left: 0.5em;
}
.multi-dime header {
    flex-grow: 0;
}
.multi-dime article {
    flex-grow: 1;
}