.task-1 {
    display: flex;
    margin-top: 2em;
    align-items: flex-end;
    margin-left: -0.5em;
}
.task-1 div {
    padding-left: 0.5em;
}



/* ghost */
.ghost-scene {
    background: #7EC0EE;
    height: 450px;
    max-width: 300px;
    border-bottom: 40px solid #01A611;
}