.task-1 {
    display: flex;
    margin-top: 2em;
    align-items: flex-end;
    margin-left: -0.5em;
}
.task-1 div {
    padding-left: 0.5em;
}



.wall {
    display: flex;
    flex-flow: wrap;
    width: 500px;
    margin-top: 2em;
    align-items: stretch;
    flex-direction: row-reverse;
}